<div class="row">
  <div class="col col-lg-6">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success"><h1>New Staff</h1> Wprowadź dane</div>
      <div class="card-body text">
        <%= render 'form', staff: @staff %>
      </div>
    <div class="card-footer bg-transparent border-success"><%= link_to 'Back', staffs_path %></div>
  </div>
</div>
